---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About</a>

        <h1>About Me</h1>

        <h2>...And my First Ever Astro Site!</h2>

        <p>After completeing my 420hrs at General Academy I decided on learning a framework as my first independantly driven project. I chose astro</p>
        <p>Im currently completing this tutorial... check back on the progress</p>
	</body>
</html>
