---
const { platform, username } = Astro.props;
import Navagation from '../components/Navagation.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: rgba(255, 255, 255, 0.597);
      background-color: #372f42;
      text-decoration: none;
    }
  </style>
  